.content-container-card {
    display: block;
    position: relative;
    margin: 0 auto 1rem;
    max-width: 800px;
    padding: 0.5rem;
    border: 1px solid #DDD;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 2px 3px #ccc;
    text-align: left;

    //phablet +
    @media only screen and (min-width: 400px) {
        padding-top: 1.15rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1.5rem;
        margin-bottom: 1.25rem;
    }
    // mobile landscape
    @media only screen and (min-width: 500px) and (max-height: 420px) {
        padding-top: 0.4rem;
        padding-left: 0.66rem;
        padding-right: 0.66rem;
        padding-bottom: 0.70rem;
        margin-bottom: 0.70rem;
    }
    //ipad+
    @media only screen and (min-width: 760px) {
        padding-top: 1.33em;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-bottom: 1.5rem;
        margin-bottom: 2rem;
    }
    // ipad landscape
    @media only screen and (min-width: 1000px) {
        padding-top: 1.25rem;
    }
}

