@import '../../app.scss';

.modal-mask {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    opacity: 0.5;
    background: #111;
    background-color: $outer-space-crayola;
    opacity: 0.9;
    z-index: $zindex-drawer;
}

.modal-window {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: auto;
    height: auto;
    width: auto;
    opacity: 0.5;
    background: #fff;
    z-index: 200;
    text-align: center;
}

.modal-content {
    display: inline-block;
    width: 300px;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
}

.btn {
  display: inline-block;
  background: #FFF;
  border-color: red;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.25rem;
  padding: 0 0.66rem;
  margin: 0.5rem;
  width: 5rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.modal-window.open{ 
    display: block;
    visibility: visible;
    opacity: 1;
 }
 .modal-window.closed{ 
    /*display: none;
    visibility: hidden;
    opacity: */;
    display: block;
    visibility: visible;
    opacity: 1;
 }